<form action="/cart" method="post">
    <button class="btn" type="submit">Add to Cart</button>
    <!-- hidden se page pr show nahi hoga but req.body (jo post se possible hain) me jaayega-->
    <input type="hidden" name="productId" value="<%= product.id %>">
</form>